#table-button {
    margin: 0;
}

th, td {
    text-align: center;
}

th:nth-child(1) {
    width: 7%;
}

td:nth-of-type(1) {
    width: 30%;
}

td:nth-of-type(2) {
    width: 30%;
}

td:nth-of-type(3) {
    width: 30%;
}

td:nth-of-type(4) {
    width: 7%;
}

.hidden-form-div {
    display: none;
}

.hidden-div {
    display: none;
}

input {
    text-align: center;
}