.img-sm {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    display: block;
    margin-right: 10px;
}


.panel {
    border-radius: 0;
    border: 0;
    margin-bottom: 15px;
}

.panel .panel-footer,
.panel>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.panel .panel-heading,
.panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel{
    padding: 25px 20px;
}

.media-block .media-left {
    display: block;
    float: left
}

.media-block .media-right {
    float: right
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
}

.media-body{
    margin-left: 10px;
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
    vertical-align: middle
}

.thumbnail {
    border-radius: 0;
    border-color: #e9e9e9
}

.tag.tag-sm,
.btn-group-sm>.tag {
    padding: 5px 10px;
}

.tag:not(.label) {
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .15s;
    transition: all .15s;
}

.text-muted,
a.text-muted:hover,
a.text-muted:focus {
    color: #acacac;
}

.text-muted{
    display: block;
    margin-top: -20px;
    text-align: end;
}


.text-sm {
    font-size: 0.9em;
}

.text-5x,
.text-4x,
.text-5x,
.text-2x,
.text-lg,
.text-sm,
.text-xs {
    line-height: 1.25;
}

.btn-trans {
    background-color: transparent;
    border-color: transparent;
    color: #929292;
}

.btn-icon {
    padding-left: 9px;
    padding-right: 9px;
}

.btn-sm,
.btn-group-sm>.btn,
.btn-icon.btn-sm {
    padding: 5px 10px !important;
}

.mar-top {
    margin-top: 15px;
}

.forUserName{
    font-size: 20px;
}

.head-comment div:nth-child(2){
    display: flex;
    align-items: center;
    text-align: right;
}
.head-comment{
    min-height: 50px;
}

.body-comment{
    border: 1px solid black;
    padding: 10px 20px;
}
#user-info{
    display: flex;
    align-items: center;
}

.stars-body{
    font-size: 20px;
    width: 83px;
    position: relative;
    color:gray;
}

.head-stars-body{
    font-size: 30px;
    width: 124px;
}

.stars-body::before {
    content: "★★★★★";
    display: block;
}
.stars-active{
    position: absolute;
    width: 0;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
}
.stars-active::before{
    position: absolute;
    content: "★★★★★";
    width: 100%;
    height: 100%;
    color: gold;
    top:0;
    left:0;
}

.media-heading{
    margin-bottom: 0;
}

.message-block-show {
    animation: showBlock 0.5s linear forwards!important;
}

.message-block-hide {
    animation: hideBlock 0.5s linear forwards!important;

}

@keyframes hideBlock {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;

    }
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}