.carousel-item {
    background-color: white;
    width: 640px;
    height: 480px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.carousel-inner {
    left: 25px;
    width: 640px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#delete-image,
#delete-image-fromDB {
    position: absolute;
    border-radius: 50px;
    top: -20px;
    left: 660px;
    z-index: 1;
}

#carousel-control-next {
    right: 0;
}

#carousel-control-prev {
    left: 0;
}

#carousel-control-next,
#carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

#carousel-control-next:hover,
#carousel-control-prev:hover {
    opacity: .9;
}

.img-controll-hidden {
    display: none;
}