footer {
    margin: 0 !important;
}

#main-block {
    margin: 20px;
    min-height: 79.5vh;
}

#profile-img-min {
    width: 30px;
    height: 30px;
    border: 2px solid green;
    border-radius: 50%;
    margin-top: 2px;
}

#profile-photo {
    margin-left: 5px;
    margin-right: 10px;
}

#message{
    display: none;
}

#confirm-form-hidden-button {
    display: none;
}

.modal-dialog-parent {
    height: 100vh;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.modal-dialog {
    margin: 0 !important;
    min-width: 400px;
}



#confirm-form-hidden-button{
    display: none;
}

.basket-modal{
    height: 100vh;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-modal .modal-dialog-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.basket-modal .modal-dialog{
    margin: 0 !important;
}

.basket-modal .modal-content{
    width: 1200px;
}



#basket-tovars{
    display: flex;
    justify-content: center;
    overflow-y:auto;
    max-height: 550px;
}

@media (min-width: 576px){
    .basket-modal .modal-dialog {
        max-width: 100%;
    }
}


@media (max-width: 1200px){
    .basket-modal  .modal-content{
        width: 800px;
    }
    #basket-tovars{
        max-height: 350px;
    }
}

@media (max-width: 800px){
    .basket-modal  .modal-content{
        width: 400px;
    }
    #basket-tovars{
        max-height: 250px;
    }
}


/*Блок загрузки*/
.windows8 {
    margin-top: 35vh;
    margin-left: 47%;
    position: relative;
    width: 78px;
    height: 78px;
}

.windows8 .wBall {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    border-radius: 10px;
}

.windows8 #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}


@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

#loading {
    flex-direction: column;
    display: none;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
}

#loadingText {
    height: 10vh;
    color: black;
    font-size: 35px;
    margin-top: 5vh;
    margin-left: 45%;
}

/*товар*/
.card-parent .tovar-block {
    border: 1px solid black;
    padding: 10px 20px;
}

.card-parent .tovar-block:hover {
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.card-parent .href-h5 {
    text-decoration: none;
    color: black;
}

.card-parent .old-price {
    text-decoration: line-through;
}

.card-parent .href-h5:hover {
    text-decoration: underline;
    color: red;
}

.card-parent .images-tovar {
    height: 10em;
    position: relative
}

.card-parent .images-tovar .dop-carousel-div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card-parent .znizhka {
    position: absolute;
    padding: 3px;
    background-color: gold;
    color: black;
    z-index: 1;
    border-radius: 40%;
    top: -2%;
    left: -3%;
}

.card-parent .baskets,
.card-parent .baskets-checked,
.card-parent .local-baskets {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: -5%;
    left: 85%;
}

.card-parent .baskets:hover,
.card-parent .local-baskets,
.card-parent .baskets-checked:hover {
    cursor: pointer;
}

.card-parent .baskets,
.card-parent .local-baskets {
    content: url("/images/site/basket.png");
}

.card-parent .baskets-checked,
.card-parent .local-baskets.checked {
    content: url("/images/site/basketChecked.png");
}

.card-parent .rating {
    display: flex;
    font-size: 8px;
}

.card-parent .row {
    width: 100%;
    box-sizing: border-box;
}

.card-parent .carousel {
    position: relative;
    width: 100%;
}

.card-parent .carousel img {
    width: 150px;
    height: 150px;
    display: block;
}

.card-parent .prev {
    left: 7px;
}

.card-parent .next {
    right: 7px;
}

.card-parent .gallery {
    width: 150px;
    overflow: hidden;
}

.card-parent .gallery ul {
    /*width: 150px;*/
    width: 9999px;
    margin: 0;
    padding: 0;
    transition: margin-left 250ms;
    font-size: 0;
}

.card-parent .gallery li {
    display: inline-block;
}

.card-parent .basket-image {
    height: 30px;
    margin-top: -5px;
}
#undefind-tovar{
    text-align: center;
    display: none;
}