.questionnaire-tovar .card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}


.questionnaire-tovar input,
.questionnaire-tovar textarea,
.questionnaire-tovar button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

.questionnaire-tovar .form-control:focus {
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0px;
}
