.hidden-input {
    display: none;
}

.hidden-href {
    display: none;
}

#groups{
    padding: 0;
}

.group-checked{
   background-color: #f5f5f5;
    border-radius: 10px;
}
.delete-group{
    display: flex;
    justify-content: center;
    margin-left: 12px;
}

.update-group{
    margin-right: 12px;
    width: 100%
}
.update-group a{
    width: 100%;
    text-align: start;
}

.update-group input{
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#add-group{
    width: 100%;
}
.add-group{
    text-align: center;
}


/*Діапазон*/
.range-slider {
    width: 100%;
    /* Match this to the SVG's x2 value */
    margin: auto;
    text-align: center;
    padding: 12px;
    position: relative;
    height: 4em;
    box-sizing: border-box;
}
.range-slider svg,
.range-slider input[type="range"] {
    position: absolute;
    left: 12px;
    bottom: 10px;
}
input[type="number"] {
    width: 35%;
    border: 1px solid #ddd;
}
/*input[type="number"]:invalid,*/
input[type="number"]:out-of-range {
    border: 2px solid #ff6347;
}
input[type="range"] {
    -webkit-appearance: none;
    width: calc(100% - 24px);
    box-sizing: border-box;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #2497e3;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type="range"]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}

#range-values{
    font-size: 14px;
}

#show-more-arrow{
    font-size: 80px;
    color: #2497e3;
    line-height: 80px;
}

#show-more-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#show-more-tovar{
    color: #2497e3;
}

#show-more-tovar:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #6eabde;
}

#show-more-arrow:hover{
    cursor: pointer;
    color: #6eabde;
}