@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}

.comment-box {
    padding: 5px
}

.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}

.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}

.send:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202
}

.rating {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    float: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.images-tovar {
    height: 10em;
    position: relative
}

.images-tovar .dop-carousel-div {
    margin: 0;
    position: static;
}

.comments {
    display: flex;
    font-size: 30px;
    margin-top: -10px;
}

.stars-body {
    width: 140px;
}

.comment {
    margin-top: 10px;
    font-size: 20px;
}

.count-comments {
    margin-top: 10px;
    font-size: 20px;
}

.index-tovar .price-block {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.index-tovar .old-price {
    text-decoration: line-through;
    text-decoration-color: red;
    color: gray;
    font-size: 13px;
    position: absolute;
    left: 20px;
    top: -10px;
}

.relative {
    position: relative;
}

.new-price {
    color: red;
}

.price-block {
    padding: 20px;
    font-size: 20px;
}

.btn-success {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: -5px;
}

.flex {
    display: flex;
}

.tovar-info {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

bl {
    color: lightgray;
}

.index-tovar .carousel-item {
    background-color: white;
    width: 640px;
    height: 480px;
}

.index-tovar .carousel-item img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.index-tovar .carousel-inner {
    width: 640px;
}

.index-tovar .carousel-control-prev {
    left: -20px;
}

.index-tovar .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.index-tovar .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='green' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.index-tovar .carousel-control-next-icon,
.index-tovar .carousel-control-prev-icon {
    opacity: .5;
}

.index-tovar .carousel-control-next-icon:hover,
.index-tovar .carousel-control-prev-icon:hover {
    opacity: .9;
}

#about-tovar {
    min-height: 480px;
    position: relative;
}

.absolute {
    width: 97%;
    position: absolute;
    bottom: -35px;
}

h2 {
    margin-bottom: 20px;
}

.index-tovar .baskets,
.index-tovar .baskets-checked,
.index-tovar .local-baskets {
    position: static;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: -10px;
    z-index: 1;
}

.index-tovar .baskets:hover,
.index-tovar .local-baskets,
.index-tovar .baskets-checked:hover {
    cursor: pointer;
}

.baskets,
.local-baskets {
    content: url("/images/site/basket.png");
}

.baskets-checked,
.local-baskets.checked {
    content: url("/images/site/basketChecked.png");
}

#accept-button {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 10px;
    height: 38px;
    margin-top: 1px;
    margin-right: 5px;
}