.bor-rad{
    border-radius: 25px;
}
.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

#delete-image{
    z-index: 100;
    background-color: red;
}